@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a7a6a6;
}


.button {
  padding: 6px 2rem;
  border-radius: 100px;
  border: 1px solid white;
  transform: .2s;
}

.button:hover {
  background: white;
  color: black;
}



* {
  transition: .15s;
}

body {
  background: #0C0C0C;
  overflow-x: hidden;
}

.main {
  padding: 1rem 2rem;
  height: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

code {
  background: hsl(var(--accent));
  padding: 4px 8px;
  border-radius: 4px;
}

.pointer {
  cursor: pointer;
}

.skeleton-load {
  animation: skeleton-load-brightness 1.4s infinite;
}

.skeleton-load-container>div:nth-child(1) {
  animation-delay: 0.1s;
}

.skeleton-load-container>div:nth-child(2) {
  animation-delay: 0.15s;
}

.skeleton-load-container>div:nth-child(3) {
  animation-delay: 0.2s;
}

.skeleton-load-container>div:nth-child(4) {
  animation-delay: 0.25s;
}

.skeleton-load-container>div:nth-child(5) {
  animation-delay: 0.3s;
}

.skeleton-load-container>div:nth-child(6) {
  animation-delay: 0.35s;
}

.skeleton-load-container>div:nth-child(7) {
  animation-delay: 0.4s;
}

.skeleton-load-container>div:nth-child(8) {
  animation-delay: 0.45s;
}

.skeleton-load-container>div:nth-child(9) {
  animation-delay: 0.5s;
}

.skeleton-load-container>div:nth-child(10) {
  animation-delay: 0.55s;
}

.skeleton-load-container>div:nth-child(11) {
  animation-delay: 0.6s;
}

.skeleton-load-container>div:nth-child(12) {
  animation-delay: 0.65s;
}

.skeleton-load-container>div:nth-child(13) {
  animation-delay: 0.7s;
}

.skeleton-load-container>div:nth-child(14) {
  animation-delay: 0.75s;
}

@keyframes skeleton-load-brightness {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(0.7);
  }

  100% {
    filter: brightness(1);
  }
}

.lds-facebook,
.lds-facebook div {
  box-sizing: border-box;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: currentColor;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

@layer base {

  /* :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  } */
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}